@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.col-12.center-content.pt-3.pb-5 img {
    width: 80%;
}

.relative {
    position: relative;
}

.overlay {
    position: absolute;
    background-color: rgba(21,21,21, 0.8);
    text-transform: uppercase;
    color: yellow;
    font-size: 100px;
    top: 30%;
    left: 25%;
    transform: rotate(-20deg);
}

img {
    width: 50%;
}

.img-beskjed {
    width: 50%;
}

.hero {
    width: 100%;
}

.top-divider {
    border-top: 1px solid #000;
}

.center-content {
    text-align: center;
}

.beskjed {
    line-height: 25px;
    font-size: 18px;
}

.lenker {
font-size: 20px !important;
}

.lastned {
    font-size: 20px;
}

.circle {
    border: 1px solid transparent;
    border-radius: 50%;
}

.profile-img {
    width: 50%;
}

.email {
    color: teal;
}

.newsspace {
    margin-bottom: 35px;
}

.frame{  
        width: 250px;
        height: 250px;
        border: 1px solid black;
        border-radius: 5px;
        vertical-align: middle;
        text-align: center;
        display: table-cell;
}

.gallery-img{
        max-width: 100%;
        max-height: 95%;
        display: block;
        margin: 0 auto;
        border: 1px solid white;
        border-radius: 5px;
    }